
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员面板</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <style>
        .te div{
            border-right: 1px solid #ccc;
            line-height: 41px;
        }
        .te div:last-child{
            border-right: none;
        }
        .main{
            background: rgb(59,42,32);
            position: absolute;
            height: 100%;
        }
        .sidebar{
            background: rgb(141,91,45);
        }
        .sidebar a{
            color: rgb(240,235,92);
        }
        .sidebar li:hover a{
            color: black;
        }
        .se{
            background: rgb(88,56,25);
        }
        .addType span{
            color: rgb(239,129,41);
        }
        .addType option{
            color: black;
        }
        #demo-list a{
            overflow:hidden;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            white-space:nowrap;
            width:100%;
        }
        .addType{
            width: 65%;
            margin: 20px auto;
            overflow: hidden;
        }
        .addType div{
            height: 45px;
        }
        .addType div span{
            float: left;
            width: 50%;
            padding:5px 20px;

        }
        .addType div span b{
            display: inline-block;
            width: 80px;
            text-align: right;
        }
        .addType p{
            text-align: center;
        }
        .addType  button{
            background: #eea236;
            border: none;
            text-align: center;
            padding:  10px;
        }
        .addType .last{
            margin-left: 100px;
        }
        select{
            color: black;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top se" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">酒店管理 V2.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="tuichu"><a href="#">退出登录</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/check">大堂入住</a></li>
                <li><a href="/reservations">订单入住</a></li>
                <li><a href="/checkout">退房管理</a></li>
                <li><a href="/record">入住记录查询</a></li>
                <li class="active"><a href="/query">查询房间信息</a></li>
                <li><a href="/build">新建房间</a></li>
                <li><a href="/roomIndex">房间类别管理</a></li>
                <li><a href="/change">修改密码</a></li>
            </ul>
        </div>

        <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!-- Modal -->
            <!--表格-->
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container mb50">
                                <h2 style="text-align: center; color: rgb(239,129,41)">房间类别信息</h2>
                            </div>
                            <!--添加-->
                            <div style="background:rgba(255,255,255,0.5); padding:20px;">
                                <table class="table" style="background:rgba(255,255,255,0.5);">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>房间号</th>
                                        <th>房间类型</th>
                                        <th>房间位置</th>
                                        <th>房间描述</th>
                                        <th>房间状态</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="pagenavbox"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <form style="background:rgba(255,255,255,0.5); padding: 10px;">
                                            <h3 style="text-align:center;">查找房间</h3>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p>房间号：</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p style="display: inline-block"><input type="text" id="fangjianhao" name="fangjianhao"></p>
                                                    <input type="button" style="margin-left: 90px" id="cha" value="查询" class="btn btn-info">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/PageNav.js"></script>
<script>
    $("#cha").click(function () {
        var fangjianhao = $("#fangjianhao").val()
        $.post("/cha/" + fangjianhao,function (data) {
            console.log(data)
            if (data.result == -1){
                alert("不存在")
            }else if(data.result == ""){
                alert("没有这个房间")
            } else{
                $.each(data.result,function(i, n){
                    //创建一个tr标签
                    $tr = $("<tr></tr>");
                    $("<td></td>").html(i+1).appendTo($tr);
                    $("<td></td>").html(n.fangjianhao).appendTo($tr);
                    $("<td></td>").html(n.leixing).appendTo($tr);
                    $("<td></td>").html(n.weizhi).appendTo($tr);
                    $("<td></td>").html(n.miaoshu).appendTo($tr);
                    $("<td></td>").html(n.zhuangtai).appendTo($tr);
                    $tr.appendTo($("#tbody"));
                });
            }
        })
    })
    $("#tuichu").click(function () {
        $.get("/tui" ,function (data) {
            console.log(data.resul);
            if (data.resul == 1){
                alert("退出成功");
                window.location.href = "/"
            } else{
                alert("退出失败")
            }
        })
    })
</script>
</body>
</html>
